name: 06 Build & Sign Docker Image

on:
  workflow_call:
    outputs:
      image-tag:
        value: ${{ jobs.docker.outputs.image-tag }}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker:
    outputs:
      image-tag: ${{ steps.meta.outputs.tags }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write # NECESARIO para firmar imágenes con Cosign (OIDC)

    steps:
      - name: Checkout
        uses: actions/checkout@v4 # Usa v4 siempre que puedas

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.3.0

      # Configuración de Buildx para mejor caché y performance
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=ref,event=branch
            type=semver,pattern={{version}}

      - name: Build and Push
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

    
      # 1. Generar SBOM (Inventario de software) de la imagen creada
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          image: ${{ steps.meta.outputs.tags }}
          format: cyclone-dx-json
          output-file: sbom.json

      # 2. Firmar la imagen docker criptográficamente
      - name: Sign the images with GitHub OIDC Token
        env:
          TAGS: ${{ steps.meta.outputs.tags }}
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: cosign sign --yes "${TAGS}@${DIGEST}"

      # 3. Subir SBOM como artefacto (evidencia de auditoría)
      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: sbom.json