name: 01 - Secure Main Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write
  security-events: write
  actions: read
  packages: write
  id-token: write

jobs:
  pre-flight-security:
    uses: ./.github/workflows/00-security-preflight.yml

  build:
    needs: pre-flight-security
    uses: ./.github/workflows/build.yml

  license-compliance:
    needs: build
    uses: ./.github/workflows/license-compliance.yml

  sast:
    needs: build
    uses: ./.github/workflows/sast.yml
