name: 20 - SAST (Python - Bandit)

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sast:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit (JSON report)
        run: |
          bandit -r . \
            -x tests,venv,.github \
            -f json \
            -o bandit-report.json \
            || true

      - name: Upload SAST report
        uses: actions/upload-artifact@v4
        with:
          name: bandit-sast-report
          path: bandit-report.json
